.deals {/* 1.07 */
    padding-top: 110px;
    padding-bottom: 110px;
    &__container {
    }
    &__header {
        margin-bottom: 50px;
    }
    &__tabs {
    }
}
.header-deals {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    &__content {
        flex: 1 1 auto;
    }
    &__title:not(:last-child) {
        margin-bottom: 15px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        max-width: 470px;
    }
    &__link {
        display: inline-block;
        padding: 22px 33px;
        text-align: center;
        min-height: 65px;
        background: #F85A47;
        box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
        border-radius: 5px;
        font-weight: 500;
        font-size: 17px;
        line-height: 135%;
        color: #FFFFFF;
        transition: all 0.4s ease 0s;
    }
    &__link:hover {
        background: #FFFFFF;
        color: #F85A47;
        border: #F85A47 1px solid;
    }
}
.tabs-deals {
    &__nav {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
        margin-bottom: 35px;
    }
    &__button {
        position: relative;
        font-weight: 400;
        font-size: 19px;
        line-height: 136%;
        color: #000000;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.4s ease 0s;
    }
    /* ============ */
    &__button::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.4s ease 0s;
        background-color: #F85A47;
    }
    &__button:hover {
        color: #F85A47;
    }
    &__button:hover::after {
        width: 100%;
    }
    /* ============ */
    &__button.active {
        color: #F85A47;
    }
    &__button.active::after {
        width: 100%;
    }
    &__body {
    }
    &__item {
        display: none;/* 1.27tabs */
    }
    &__item.active {
        display: block;
    }
}
.item-tabs {
    &__items {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));/* 1.18 */
    }
    &__item {
        position: relative;
    }
    &__options {
        position: absolute;
        z-index: 2;
        left: 14px;
        top: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
    &__option {
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 6px 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
        transition: background-color 0.4s ease 0s;
    }
    &__option:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
    /* ==============ibg */
    &__image {
        position: relative;
        display: block;/* чтобы не пропадали изображения из-зa того, что ссылки строчный тег */
        padding-bottom: 81%;/* 300высота изображения/370ширина изображения=81% */
        border-radius: 5px;
        overflow: hidden;
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease 0s;
    }
    /* -==============*/
    &__image:hover img {/* если ставить ховер так, то изображение будет увеличиваться, не меняя размер блока */
        transform: scale(1.1);
    }
}
@media (max-width: 991.98px) {
    .deals {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width: 767.98px) {
    .deals {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-deals {
        &__link{
            width: 100%;
        }
    }
}
