.ibg {
    &__image {
        position: relative;
        padding-bottom: 81%;/* для адаптации картинки рассчитываем процент *//* 300высота изображения/370ширина изображения=81% */
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease 0s;

    }
}
&__image:hover img {/* если ставить ховер так, то изображение будет увеличиваться, не меняя размер блока */
    transform: scale(1.1);
}
/* ===================hover */
&__button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.4s ease 0s;
    background-color: #F85A47;
}
&__button:hover {
    color: #F85A47;
}
&__button:hover::after {
    width: 100%;
}
/* ===============raiting */
.simple-rating {
	position: relative;
	font-size: 24px;
	display: inline-block;
}

.simple-rating::before {
	content: "★★★★★";
	display: block;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #f0dbbb;
}

.simple-rating__label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
	color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
	color: #ffef9f;
}
/* ========================= */