.featured {
    padding-top: 110px;
    padding-bottom: 110px;
    &__container {
    }
    &__title:not(:last-child) {
        margin-bottom: 95px;
    }
    &__body {
        background: #F1FFFF;
        padding: 40px 40px 80px 40px;
        display: grid;
        column-gap: 77px;
        row-gap: 40px;
        grid-template-columns: repeat(2,1fr);
    }
    &__images {
        
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
}
.images-featured {
    display: grid;
    justify-items: center;
    &__item {
        &_mini {
            margin-left: 20px;
            margin-right: 20px;
            filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
            margin-top: -114px;
        }
    }
    &__item img {
        max-width: 100%;
    }
}
.content-featured {
    &__body {
    }
    &__title {
        font-weight: 600;
        font-size: 31px;
        line-height: 135%;
        color: #000000;
    }
    &__title:not(:last-child) {
        margin-bottom: 25px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #545A58;
        margin-bottom: 40px;
    }
    &__options {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 55px;
    }
    &__link {
        display: block;
        text-transform: uppercase;
        padding: 15px 35px;
        text-align: center;
        background: #F85A47;
        box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        color: #FFFFFF;
        transition: all 0.4s ease 0s;
    }
    &__link:hover {
        color: #F85A47;
        background:#FFFFFF;
        border: 2px solid #F85A47;
    }
}
.options-content-featured {
    &__item {
    }
    &__label {
        font-weight: 700;
        font-size: 17px;
        line-height: 135%;
        color: #000000;
    }
    &__label:not(:last-child) {
        margin-bottom: 12px;
    }
    &__value {
        font-weight: 400;
        font-size: 17px;
        line-height: 135%;
        color: #545A58;
    }
}
@media (min-width: 992px) {
    .content-featured {
        &__body {
            max-width: 412px;
            flex: 1 1 auto;
            padding-top: 40px;
        }
        &__link {
            max-width: 412px;
        }
    }
}
@media (max-width: 991.98px) {
    .featured {
        padding-top: 70px;
        padding-bottom: 70px;
        &__body {
            display: flex;
            flex-direction: column-reverse;
        }
        &__title:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}
@media (max-width: 767.98px) {
    .featured {
        padding-top: 30px;
        padding-bottom: 30px;
        &__title:not(:last-child) {
            margin-bottom: 30px;
        }
        &__body {
            margin: 0 -15px;
            padding: 20px 15px 20px 15px;
        }
    }
    .content-featured {
        &__title {
            font-size: 24px;
        }
    }
}
@media (max-width: 479.98px) {
    .content-featured {
        &__options {
            grid-template-columns: repeat(2,1fr);
            margin-bottom: 35px;
        }
    }
}






