.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 15px;
        min-height: 103px;
        padding-top: 10px;/* отступы безопасности */
        padding-bottom: 10px;
    }

    &__logo {
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
        color: #31353B;
    }

    &__menu {
    }
}
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 46px;
        row-gap: 5px;
    }

    &__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 130%;
        color: inherit;
    }
    &__link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 767.98px) {
    .header {
        &__container {
            min-height: 0;
            flex-direction: column;
        }
    }
    .menu {
        &__list {
            justify-content: center;
        }
        &__link {
            font-size: 18px;
        }
    }
}